<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 800px;margin: auto;">
    <form action="/student/update" method="POST">
        <input type="hidden" value="<%= datas[0].id %>" name="id">
        姓名: <input type="text" name="name" value="<%= datas[0].name %>">
        年龄: <input type="text" name="age" value="<%= datas[0].age %>">
        备注: <input type="text" name="context" value="<%= datas[0].context %>">
        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>
